body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

.navbar{
display:flex;
justify-content:space-between;
background:#003366;
color:white;
padding:15px;
}

.navbar nav{
display:flex;
align-items:center;
margin-right: 200px;
}

nav a{
color:#003366;
margin-left:15px;
text-decoration:none;
background-color: white;
border-radius: 8px;
font-size: 100%;
padding: 4%;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#2193b0,#6dd5ed);
color:white;
}

button{
background:#ff9800;
border:none;
padding:12px 20px;
color:white;
cursor:pointer;
}

button:hover{
background:#e68900;
}

.propuesta{
width:400px;
margin:auto;
margin-top:40px;
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin-bottom:10px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
background:#003366;
color:white;
}